<%- include('../layout/header') %>
<h1 id="indexH1">Search by title or author</h1>
<section class="search-form">
    <form action="/searches" method="POST" id="searchForm">
        <div id="searchDiv">
            <input type="text" name="bookSearch" id="searchText">
        </div>
        <div id="radioDiv">
            <div class="btnRadio">
                <label for="title">Title <input type="radio" id="title" name="searchType" value="title"></label>
            </div>
            <div class="btnRadio">
                <label for="author">author <input type="radio" id="author" name="searchType" value="author"></label>
            </div>
        </div>
        <button type="submit">Search</button>
    </form>
</section>
<%- include('../layout/footer') %>