<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/modules/details_module.css">
    <link rel="stylesheet" href="/styles/modules/nav_module.css">
    <link rel="stylesheet" href="/styles/modules/search_module.css">

    <link rel="stylesheet" href="/styles/icons.css">
</head>

<body>
    <header class="header">
        <!-- <nav class="topnav">
            <a href="/" class="active">Best Book</a>
            <div id="myLinks">
                <a href="/">Home</a>
                <a href="/search/new">Search</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="burggerMenuFunction();">
                <span class="icon-menu"></span>
            </a>
        </nav> -->
        <nav role="navigation">
            <a href="/" class="logo">Book List</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/search/new">Search</a></li>
            </ul>
          </nav>
    </header>